.app {
    main {
        padding: 10px;
        height: calc(100vh - 84px);
        display: flex;
        .list-container {
            width: 25%;
        }
        .todo-container {
            width: 75%;
            padding: 10px;
        }
    }
}